template(name='splash')
    html
      head
        title IBIS
      body
        .container.container-fluid
        .alert.alert-success(role='alert')
          strong IBIS
          |  Now with boostrap, jade, and flowrouter
 