template(name='bioeventItem')
  li.bioevent-item
    h6
      a(href="https://eidr-connect.eha.io/events/#{eventType}/#{bioevent.event._id}")=bioevent.event.name
      if bioevent.rank
        .rank-score Rank Score: #{bioevent.rank}
      else if bioevent.lastIncident
        .last-incident Last Incident: #{bioevent.lastIncident}
    #[+timeline type=timelineType]#[.minimap]

template(name='timeline')
  .timeline-container
    .type-toggle
      .timeline-type(class="{{#if type.activeCases}}active{{/if}}" data-timeline-type="activeCases") Active Cases
      .timeline-type(class="{{#if type.newCases}}active{{/if}}" data-timeline-type="newCases") New Cases
    .timeline
