template(name='bioeventItem')
  li.bioevent-item
    h6
      a(href="https://eidr-connect.eha.io/events/#{eventType}/#{bioevent.event._id}")=bioevent.event.name
      .rank-score Rank Score: #{bioevent.rank}
    #[.timeline]#[.minimap]
