template(name='map')
  .map-page-container
    nav.subheader
      h5.title {{selectedLocationName}} Inbound
      .map-controls
        select#map-type
          each mapTypes
            option(value=name selected=selected)=label
    #map
    +bioeventPanel dateRange=dateRange
