template(name="footer")
  footer(class="{{#if hideFooter}} hidden {{/if}}")
    .eha
      a(href="http://ecohealthalliance.org") EcoHealth Alliance
    ul.contact-info
      li 460 West 34th Street 17th Floor, New York, NY 10001-2320
      li 212.380.4460
      li
        a(href="mailto:tech@ecohealthalliance.org") tech@ecohealthalliance.org
