template(name="header")
  header
    nav.navbar.navbar-default
      .navbar-header
        a(href="/").navbar-brand IBIS
      +searchBar
      .links
        .btn-group
          a(href="/about").about.btn About
          if isInRole "admin"
            a(href="/admin").about.btn Admin
          a(href="/configure").configure.btn
            i.fa.fa-cog
          +loginButtons
