template(name="header")
  header
    nav.navbar.navbar-default
      .navbar-header
        a(href="/").navbar-brand IBIS
      +searchBar
      .links
        .btn-group
          a(href="/about").about.btn About
          a(href="/userBioevents").about.btn Ad Hoc Events
          a(href="/lemis").about.btn Animal Imports
          a(href="/configure").configure.btn
            i.fa.fa-cog
            | Settings
          a.btn.login-btn
            +loginButtons
