template(name="about")
  .about-content
    +markdown
      IBIS is a system for monitoring infectious disease bio-events that threaten
      the international flight network.
      The system runs simulations based on current and future flight schedules to estimate
      flows of passengers between airports.
      This is combined with a system that extracts the dates and locations of
      disease cases from mentions on ProMED-mail to identify locations
      in the US that diseases are more likely to reach through the flight network.

  .about-content
    +markdown
      # Simulations
      
      Passengers are simulated over the present two week time interval every week.
      [The simulator source code is available here.](https://github.com/ecohealthalliance/flirt-simulation-service)

  .about-content
    +markdown
      # Bioevent Data
      
      Bioevent data is automatically extracted from online data sources by
      [EIDR-Connect](https://eidr-connect.eha.io) and grouped into "Auto Events."
      An Auto Event is created for each disease for which incident data has been extracted.
      
      The number of active cases for each bioevent is estimated using an
      exponential decay model where the number of active cases from each
      incident report decreases over time at a rate dependent on the disease's case duration.
      
      The bioevent data was last updated on #{bioeventLastUpdate}.

  .about-content
    +markdown
      # Map Types
      
      ## Domestic

    +threatLevelAbout

    +passengerFlowAbout

    +markdown
      # International

    +originPassengerFlowAbout
    
    +directSeatsAbout

    +originThreatLevelAbout

  .about-content
    +markdown
      # Rank Metrics

      ## Threat Level

      The threat level is based on a rough approximation of the number of incoming
      infected passengers weighted by disease specific coefficients.
      It is computed as follows:

      __ThreatLevel__(event, inboundAirport) = __DiseaseSeverity__(event) * *sumOverAirports*[ __EstimatedPassengerFlow__(airport, inboundAirport) * __ProbabilityPassengerInfected__(event, airport) ]

      __ProbabilityPassengerInfected__(event, departureAirport) = __CurrentNumberInfectedInAirportCatchment__(event, departureAirport) / __CatchmentPopulation__(departureAirport)

      __CatchmentPopulation__(airport) = The number of people in the airport's catchment.

      __CurrentNumberInfectedInAirportCatchment__(event, airport) = Estimated active cases in the airport's catchment.

      __DiseaseSeverity__(event) = The Disability Adjusted Life Years per case of the event's disease. The Global Burden of Disease data set is used to compute this.
      The average DALYs per case across all infectious diseases is used when information is not available for a disease.

      Airport catchment is a raster map of 0 to 1 values that indicate the portion of poeple within
      each pixel that would use the airport to travel. The values are determined by
      the distance from the airport, the distance to alternative airports, and the outflow of the airport.

      ## Excluding U.S. Sources
      
      Where noted, it is possible to exclude cases of bioevents occurring in the United States from threat level threat
      level calculations, in

template(name="threatLevelAbout")
  +markdown
    ### Threat Level
    Threat Level is an overall measure of the risk posed by incoming bioevents. Threat level is calculated by combining known cases of bioevents, commercial air travel patterns, and the potential severity of the disease-causing agent.
      
template(name="passengerFlowAbout")
  +markdown
    ### Estimated Passenger Flow to Destinations
    The total number of passengers estimated to arrive at each U.S. destination.

template(name="originPassengerFlowAbout")
  +markdown
    ### Estimated Passenger Flow from Origin
    The approximate number of people from each country of origin that arrive at the target
    location as their terminal destination.

template(name="directSeatsAbout")
  +markdown
    ### Direct Flow by Origin
    The number of seats available on direct flights arriving at the target location.

template(name="originThreatLevelAbout")
  +markdown
    ### Origin Threat Level
    The estimated risk of any bioevent spreading from each country of origin.

template(name="originProbabilityPassengerInfectedAbout")
  +markdown
    ### Probability Passenger Infected by Origin
    The estimated probability that a passenger at the origin airport has the target disease.

template(name="destinationThreatExposureAbout")
  +markdown
    ### Destination Threat Exposure
    The overall levels of risk that the target bioevent poses to each location.

template(name="topOriginsAbout")
  +markdown
    ### Top Origins
    The locations that pose the greatest outbound threat level.

template(name="topDestinationsAbout")
  +markdown
    ### Top Destinations
    The locations that are exposed to the greatest inbound risk.
