template(name="about")
  .about-content
    | IBIS is a system for monitoring infectious disease bio-events that threaten
    | the international flight network.
    | The system runs simulations based on current and future flight schedules to estimate
    | flows of passengers between airports.
    | This is combined with a system that extracts the dates and locations of
    | disease cases from mentions on ProMED-mail to identify locations
    | in the US that diseases are more likely to reach through the flight network.
    b IBIS is currently under development. The information that is currently
      | displayed may be mock data.
