template(name="about")
  .about-content
    +markdown
      IBIS is a system for monitoring infectious disease bio-events that threaten
      the international flight network.
      The system runs simulations based on current and future flight schedules to estimate
      flows of passengers between airports.
      This is combined with a system that extracts the dates and locations of
      disease cases from mentions on ProMED-mail to identify locations
      in the US that diseases are more likely to reach through the flight network.

      __IBIS is currently under development. The information that is currently
      displayed may be mock data__

  .about-content
    +markdown
      # Simulations
      
      Passengers are simulated over the present two week time interval every week.
      [The simulator source code is available here.](https://github.com/ecohealthalliance/flirt-simulation-service)

  .about-content
    +markdown
      # Bioevent Data
      
      Bioevent data is automatically extracted by [EIDR-Connect](https://eidr-connect.eha.io) as "Auto Events."
      An Auto Event is created for each disease for which incident data has been extracted.
      
      The Bioevent Data was last updated on #{bioeventLastUpdate}.

  .about-content
    +markdown
      # Map Types
      
      # Domestic

      ## Threat Exposure
      The overall levels of risk all bioevents throughout the world pose to
      U.S. destinations.

      ## Estimated Inbound Passenger Flow
      The total number of passengers estimated to arrive at each U.S. destination.

      # International

      ## Estimated Passenger Flow by Origin
      The approximate number of people from each country of origin that arrive at the target
      location as their terminal destination.
      
      ## Direct Flow by Origin
      The number of seats available on direct flights arriving at the target location.

      ## Threat Level by Origin
      The esimated risk of any bioevent spreading from each country of origin
      to the target location.

  .about-content
    +markdown
      # Rank Metrics
      
      ## Threat Level

      The threat level is based on a rough approximation of the number of incoming
      infected passengers weighted by disease specific coefficients.
      It is computed as follows:
      
      __ThreatLevel__(event, inboundAirport) = __DiseaseSeverity__(event) * *sumOverAirports*[ __EstimatedPassengerFlow__(airport, inboundAirport) * __ProbabilityPassengerInfected__(event, airport) ]
      
      __ProbabilityPassengerInfected__(event, departureAirport) = __CurrentNumberInfectedInAirportCatchment__(event, departureAirport) / __CatchmentPopulation__(departureAirport)
      
      __CatchmentPopulation__(airport) = Population of airport's country

      __CurrentNumberInfectedInAirportCatchment__(event, airport) = Cumulative cases in airport's country over last two weeks

      __DiseaseSeverity__(event) = The Disability Adjusted Life Years per case of the event's disease. The Global Burden of Disease data set is used to compute this.
      The average DALYs per case across all infectious diseases is used when information is not available for a disease.
      

      ## Ex. US
      
      The Ex. US versions of rank metrics exclude the United States as a source
      of incoming threats.
