template(name="lemisPopup")
  .lemis-popup
    h5
      | {{location.name}}
      if totalValue
        | - {{formatNumber totalValue}} {{unit}}
    if loading
      p Loading...
    else
      h6 Distribution By Species
      dl.scrolling-list
        each exportsBySpecies
          dt=species
          dd {{formatNumber value}} ({{formatNumber portion}}%)
        else
          p No Data
