template(name="locationPopup")
  h5
    a(href="/locations/#{location._id}")=location.displayName
  dl
    each properties
      dt=label
      dd {{formatNumber value}}
  if loading
    p Loading...
  else if threatByDisease
    h6 Threat Level Posed By Disease
    dl.scrolling-list
      each threatByDisease
        dt
          if event
            a(href="/bioevents/#{event.eventId}")=event.name
          else
            | Other Diseases
        dd {{formatNumber value}}%
