template(name="locationPopup")
  h5
    a(href="/locations/#{location._id}")=location.displayName
  dl
    each properties
      dt=label
      dd {{formatNumber value}}
  if loading
    p Loading...
  else if threatLevelByDisease
    h6 Threat Level Posed By Disease
    dl.threat-level-by-disease
      each threatLevelByDisease
        dt
          a(href="/bioevents/#{event.eventId}")=event.eventName
        dd {{formatNumber threatLevel}}
