template(name='rankInfo')
  if loading
    p Loading...
  else
    p This shows the variable values used to compute the rank score.
      a(href="/about#threatlevel") The ranking formula is described here.
      | The US rank scores and rank scores for states are the sum of the rank
      | scores of all the airports they contain.

    with combinedValues
      h6 Combined Values:
      .ranked-origin
        pre
          | Rank Score: {{toPrecision rank 4}}
          | Passenger Flow: {{toPrecision passengerFlow 4}}
          | Infected Passengers: {{toPrecision infectedPassengers 4}}
          | Disease Severity Score: {{toPrecision threatCoefficient 4}}
    h6 Values by Origin Airport:
    each rankedOrigins
      .ranked-origin
        .airport=_id
        pre
          | Rank Score: {{toPrecision rank 4}}
          | Passenger Flow: {{toPrecision passengerFlow 4}}
          | Infected Passengers: {{toPrecision infectedPassengers 4}}
