template(name="searchBar")
  .search-bar
    .input-group
      .input-group-prepend
        .input-group-text
          i.fa.fa-search(id="searchIcon")
      input.form-control.typeahead(type="search" id="search" autocomplete="off")
    if results
      .search-results
        each results
          .result
            if type.airport
              i.fa.fa-plane
            else if type.bioevent
              i.fa.fa-bug
            else
              i.fa.fa-map-marker
            a(href="/#{id}")=name
