template(name='submitUserBioevent')
  .submit-bioevent
    textarea
      | {
      |   "start_date": "2019-05-15T15:55:03.414Z",
      |   "active_case_location_tree": {
      |     "children": [{
      |       "location": {
      |         "longitude": 30.14452,
      |         "latitude": -6.44596,
      |         "area": 100000
      |       },
      |       "value": 4.182193023555321
      |     }]
      |   }
      | }
    .btn.btn-primary.analyze Analyze Bioevent Air Travel Risk
    .clear(style="clear:both;")
