template(name='userBioevents')
  .bioevents-container
    a.btn.btn-success.create-event(href="/submitUserBioeventForm") Create Ad Hoc Event
    h3 Ad-Hoc Bioevent Risk Analyses
    +reactiveTable(collection="rankedUserEventStatuses" settings=tableSettings)
