@import 'variables.import.styl'
@import 'map.import.styl'
@import 'timeline.import.styl'

.subheader
  background-color $primary-color
  color white
  padding 10px 16px
  width "calc(100% - %s)" % $side-panel-width
  .title
    display inline-block

.tooltip-btn
  margin-left 8px
.tooltip-btn:link
.tooltip-btn:visited
  color white

.tooltip
  z-index 1001
  pointer-events none
  transition opacity .1s ease-out
  opacity 0
  background white
  border 1px solid gray
  border-radius 2px
  padding 5px
  width 200px

.tooltip.hide
  opacity 0

.tooltip.show
  opacity 1

.about-content
  background lightblue
  padding 1em
  max-width 800px
  margin 12px
  margin-top 0
  h1
    font-size 1.6em
    color $primary-color
    margin-bottom 1em
  h2
    font-size 1.3em
    color $primary-color

footer
  border-top 2px solid $secondary
  background white
  padding 1em 2%
  .contact-info
    margin-left auto
    font-weight 300
    list-style-type none
    padding-left 0
  a
    color $primary

.side-panel
  position absolute
  background-color white
  top 0
  bottom 0
  right 0
  width $side-panel-width
  z-index 1000
  border-left 1px solid white
  .header
    background-color $primary-color
    height $subheader-height
    color white
    padding 10px

.side-panel-body
  width 100%
  position absolute
  top $subheader-height
  bottom 0
  overflow-y scroll
  margin-bottom 0
  color white

.section-head
  margin 0 auto
  padding 0 5px
  width 100%
  border-top 1px solid white
  border-bottom 1px solid white
  background-color white
  color $primary-color-light
  font-weight bold
  line-height 2em
  display inline-block

  .controls
    float right
    font-weight normal

.airport-list
  margin-top 10px


.bioevent-panel-title
  display inline-block

.bioevent-item
  background-color $primary-color
  color white
  line-height 0
  margin-top 5px
  h6
    padding 10px
    margin-bottom 0
  a
    color white
  .timeline-container
  .minimap
    margin 0
    display inline-block
    background $primary-color-light
    height 150px
    width 50%
  .minimap
    background lightblue
  .timeline
    height 128px

.bioevent-item:first-of-type
  margin-top 1px

.bioevent-details
  background $primary-color-light

.rank-data
  font-size .5em

.rank-score
  cursor pointer

.navbar-header
  flex 1

.navbar-brand
  bg('/images/ibis-logo-sm.png', 102px, 30px)

.search-bar
  display inline-block
  flex 2
  .input-group-text
    background transparent

.search-results
  position absolute
  background white
  z-index 1000
  border 1px solid lightgray
  padding 5px 10px

.about
  text-align right
  flex 1