@import 'variables.import.styl'
@import 'map.import.styl'

.subheader
  background-color $primary-color
  color white
  padding 10px 16px
  width "calc(100% - %s)" % $side-panel-width
  .title
    display inline-block

.navbar-brand
  bg('/images/ibis-logo-sm.png', 102px, 30px)

.tooltip-btn
  margin-left 8px
.tooltip-btn:link
.tooltip-btn:visited
  color white

.tooltip
  z-index 1001
  pointer-events none
  transition opacity .1s ease-out
  opacity 0
  background white
  border 1px solid gray
  border-radius 2px
  padding 5px
  width 200px

.tooltip.hide
  opacity 0

.tooltip.show
  opacity 1

.about-content
  background lightblue
  padding 1em
  max-width 800px
  margin 12px
  margin-top 0
  h1
    font-size 1.6em
    color $primary-color
    margin-bottom 1em
  h2
    font-size 1.3em
    color $primary-color

footer
  border-top 2px solid $secondary
  background white
  padding 1em 2%
  .contact-info
    margin-left auto
    font-weight 300
    list-style-type none
    padding-left 0
  a
    color $primary
