@import 'variables.import.styl'

.map-page-container
  position absolute
  top $header-height
  right 0
  left 0
  bottom 0
  .leaflet-container
    background lightblue

#map
  position absolute
  left 0
  right 0
  top $subheader-height
  bottom 0

  .hover-marker
    color white
    text-shadow 1px 1px 1px rgba(0,0,0,.5)
    top -1em
    left 3em
    width 10em !important
    pointer-events none

.map-controls
.bioevent-controls
  display inline-block
  float right

.bioevent-panel-title
  display inline-block

.bioevent-item
  background-color $primary-color
  color white
  line-height 0
  margin-top 5px
  h6
    padding 10px
    margin-bottom 0
  a
    color white
  .timeline-container
  .minimap
    margin 0
    display inline-block
    background $primary-color-light
    height 150px
    width 50%
  .minimap
    background lightblue
  .timeline
    height 128px

.bioevent-item:first-of-type
  margin-top 1px

.bioevent-details
  background $primary-color-light

.rank-data
  font-size .5em

.rank-score
  cursor pointer
