@import 'variables.import.styl'

.map-page-container
  position absolute
  top $header-height
  right 0
  left 0
  bottom 0
  .leaflet-container
    background lightblue

#map
  position absolute
  left 0
  right 0
  top $subheader-height
  bottom 0

  .hover-marker
    color white
    text-shadow 1px 1px 1px rgba(0,0,0,.5)
    top -1em
    left 3em
    width 10em !important
    pointer-events none

.map-controls
.bioevent-controls
  display inline-block
  float right

.map-legend
  z-index 999
  background white
  position absolute
  bottom 10px
  left 10px
  width auto
  display inline-block
  padding 10px
  border 2px solid rgba(0,0,0,.4)
  border-radius 4px
  font-size 0.85em
  .title
    margin-top -5px
    max-width 200px
  .values
    border 1px solid gray
    line-height 0
  .value
    height 10px
    width 20px
    display inline-block
