$header-height = 50px
$side-panel-width = 500px
$primary-color = #2a5974
$primary-color-light = #4f7387
$subheader-height = 44px
bg($path, $w, $h)
  background-image url($path)
  background-repeat no-repeat
  background-size $w $h
  width $w
  height $h
  text-indent -9999px
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2)
    background-image url($path)

