$header-height = 90px

bg($path, $w, $h)
  background-image url($path)
  background-repeat no-repeat
  background-size $w $h
  width $w
  height $h
  text-indent -9999px
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2)
    background-image url($path)

full-width()
  position absolute
  left 0
  right 0
  top $header-height
  bottom 0
